/* font family */
/* colors */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 10px;
}

body a {
  text-decoration: none;
  color: #000000;
}

body ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

body p {
  font-size: 1.4em;
  font-family: "Open Sans", sans-serif;
  line-height: 2;
  color: rgba(0, 0, 0, 0.8);
}

body button {
  padding: 20px 28px;
  background-color: transparent;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1.6em;
  font-family: "Oswald", sans-serif;
  letter-spacing: 4px;
  color: #ffffff;
}

body .red-bottom {
  border: 0;
  border-bottom: 2px solid #fa2a20;
}

body h2, body h3, body h4, body h5, body h6 {
  font-family: "Oswald", sans-serif;
  font-size: 2.2em;
  font-weight: 500;
  letter-spacing: 5px;
}

body h4 {
  font-weight: 400;
  font-size: 2.2em;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 12px;
  }
}

/* header */
header {
  width: 100%;
  padding: 15px 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Poppins", sans-serif;
}

header nav {
  width: 40%;
}

header nav ol {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.5em;
  text-transform: uppercase;
}

/* banner */
.banner {
  padding-top: 100px;
  background-image: url("../assets/img/boxing-dark-fitness-163351.jpg");
  background-position: center;
  background-size: cover;
}

.banner--text {
  text-transform: uppercase;
  color: #ffffff;
}

.banner--text h3 {
  letter-spacing: 8px;
  font-size: .9em;
}

.banner--text h2 {
  margin-bottom: 25px;
  font-size: 5.2em;
  font-weight: 300;
  letter-spacing: 10px;
  line-height: 1.5;
}

.banner--info {
  width: 100%;
  margin: 45px 0;
  padding: 20px 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(15%, rgba(0, 0, 0, 0)), to(#2a2e40));
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 15%, #2a2e40 100%);
  color: #ffffff;
  font-size: .7em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.banner--info p {
  color: #ffffff;
  margin-right: 10px;
}

.banner--form {
  color: #ffffff;
  background-color: #fa2a20;
  padding: 60px 40px;
}

.banner--form h4 {
  line-height: 1.5;
  margin-bottom: 20px;
}

.banner--form p {
  line-height: 2;
  margin-bottom: 10px;
  color: #ffffff;
}

.banner--form input[type=text], .banner--form [type=email] {
  width: 100%;
  background-color: #fa2a20;
  border: 0;
  border-bottom: 1px solid #999999;
  margin: 20px 0;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
}

.banner--form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.banner--form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.banner--form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.banner--form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.banner--form button {
  font-size: 1.6em;
  margin-left: 45%;
  margin-top: 20px;
}

/* banner 768 */
@media screen and (min-width: 768px) {
  .banner {
    background-position: 60%;
  }
  .banner--info {
    margin-bottom: 0;
  }
  .banner--form {
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

/* banner 1200+ */
@media screen and (min-width: 1200px) {
  .banner {
    padding-bottom: 300px;
  }
  .banner h3 {
    letter-spacing: 15px;
    font-size: 1em;
  }
  .banner h2 {
    font-size: 10em;
    letter-spacing: 15px;
  }
  .banner--form form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .banner--form input[type=text], .banner--form [type=email] {
    width: 48%;
  }
  .banner--form button {
    -webkit-transform: translateX(168%);
            transform: translateX(168%);
  }
}

/* offert */
.offert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offert button {
  border-color: #fa2a20;
  font-size: 1.5em;
}

.offert--list {
  width: 100%;
  background-color: #ffffff;
}

.offert--list h4 {
  padding: 40px 40px 0 40px;
}

.offert--list ol {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.6);
}

.offert--list ol li {
  padding: 15px 40px;
  width: 100%;
}

.offert--list button {
  margin: 20px 0 30px 40px;
  color: #000000;
}

.offert--cost {
  text-align: center;
  padding: 80px 40px;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(16, 23, 45, 0.85))), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/10/gym_39.jpg);
  background-image: linear-gradient(rgba(16, 23, 45, 0.85) 50%), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/10/gym_39.jpg);
  background-size: cover;
  background-position: top;
}

.offert--cost h6 {
  letter-spacing: 12px;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.offert--cost h5 {
  font-size: 5.5em;
}

.offert--cost p {
  color: #ffffff;
  margin: 50px 0;
}

.offert--cost button {
  color: #ffffff;
}

/* offert 768 */
@media screen and (min-width: 768px) {
  .offert {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .offert--list {
    width: 50%;
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  .offert--cost {
    width: 50%;
  }
}

/* offert 1200+ */
@media screen and (min-width: 1200px) {
  .offert {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .offert--list {
    width: 33%;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
  .offert--cost {
    width: 33%;
    -webkit-transform: translateY(-300px);
            transform: translateY(-300px);
  }
}

/* article-first */
.article-first {
  padding: 50px 25px;
  text-align: center;
}

.article-first h5, .article-first h6 {
  color: #fa2a20;
}

.article-first h5 {
  font-size: 3.5em;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.article-first h6 {
  font-size: 1.1em;
  letter-spacing: 15px;
  line-height: 2;
}

.article-first h4 {
  font-weight: 300;
  font-size: 3em;
  letter-spacing: 5px;
  margin-top: 50px;
}

.article-first p {
  margin: 20px 0;
}

.article-first button {
  color: #000000;
}

/* aside photo */
.photo-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.photo-first button {
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
}

.photo-first .foto {
  width: 180%;
  background-size: cover;
  margin-bottom: 40px;
}

.photo-first .photo--red {
  padding: 40px 0;
  width: 50%;
  background-color: #fa2a20;
}

.photo-first .photo--red .f1 {
  background-image: url("../assets/img/energy-exercise-gym-1552242.jpg");
  height: 200px;
  background-position: left;
  -webkit-transform: translateX(5.5%);
          transform: translateX(5.5%);
}

.photo-first .photo--dark {
  padding: 40px 0;
  z-index: -1;
  width: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(16, 23, 45, 0.85))), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/10/gym_39.jpg);
  background-image: linear-gradient(rgba(16, 23, 45, 0.85) 50%), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/10/gym_39.jpg);
  background-size: cover;
}

.photo-first .photo--dark .f2 {
  display: none;
  background-image: url("../assets/img/adult-beautiful-biceps-1554824.jpg");
  height: 300px;
  -webkit-transform: translate(-95.5%, 100%);
          transform: translate(-95.5%, 100%);
}

/* aside photo 768 */
@media screen and (min-width: 768px) {
  .photo-first .foto {
    width: 90%;
  }
  .photo-first button {
    -webkit-transform: translateX(110%);
            transform: translateX(110%);
  }
  .photo-first .photo--red {
    padding-bottom: 0;
    z-index: -1;
  }
  .photo-first .photo--red .f1 {
    height: 250px;
    -webkit-transform: translateX(11.2%);
            transform: translateX(11.2%);
  }
  .photo-first .photo--dark {
    padding-bottom: 0;
  }
  .photo-first .photo--dark .f2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../assets/img/adult-beautiful-biceps-1554824.jpg");
    height: 400px;
    -webkit-transform: translate(0%);
            transform: translate(0%);
    margin-top: 250px;
    margin-bottom: 0;
  }
  .photo-first .photo--dark .f3 {
    background-image: url("../assets/img/victor-freitas-572863-unsplash.jpg");
    height: 250px;
    margin: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

/* aside photo 1200+ */
@media screen and (min-width: 1200px) {
  .photo-first {
    margin: 200px auto;
  }
  .photo-first .foto {
    width: 45%;
    -webkit-box-shadow: -50px 70px 120px -42px rgba(0, 0, 0, 0.3);
            box-shadow: -50px 70px 120px -42px rgba(0, 0, 0, 0.3);
  }
  .photo-first button {
    -webkit-transform: translate(144%, -361px);
            transform: translate(144%, -361px);
  }
  .photo-first .photo--red {
    margin-left: 80px;
    height: 400px;
    padding-bottom: 0;
    z-index: -1;
  }
  .photo-first .photo--red .f1 {
    height: 350px;
    -webkit-transform: translate(122.5%, 100px);
            transform: translate(122.5%, 100px);
  }
  .photo-first .photo--dark {
    padding-bottom: 0;
    height: 400px;
  }
  .photo-first .photo--dark .f2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-image: url("../assets/img/adult-beautiful-biceps-1554824.jpg");
    height: 250px;
    -webkit-transform: translateY(-400px);
            transform: translateY(-400px);
    margin-top: 250px;
    margin-bottom: 0;
  }
  .photo-first .photo--dark .f3 {
    background-image: url("../assets/img/victor-freitas-572863-unsplash.jpg");
    height: 300px;
    margin: 0;
    -webkit-transform: translate(100%, -400px);
            transform: translate(100%, -400px);
  }
}

/* article-secound */
.article-secound {
  padding: 50px 25px;
}

.article-secound h4 {
  font-size: 3em;
  font-weight: 300;
}

.article-secound button {
  margin-top: 30px;
  text-align: right;
  padding-right: 10px;
  color: #000000;
}

/* article-secound 768 */
@media screen and (min-width: 768px) {
  .article-secound {
    padding: 50px 55px;
    text-align: right;
  }
}

/* aside cubes */
.cubes-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 30px;
}

.cubes-first h4 {
  text-transform: uppercase;
  font-size: 2.2em;
}

.cubes-first-dark {
  padding: 60px 40px;
  background-color: #2a2e40;
  color: #ffffff;
  -webkit-box-shadow: -50px 70px 120px -42px rgba(0, 0, 0, 0.3);
          box-shadow: -50px 70px 120px -42px rgba(0, 0, 0, 0.3);
}

.cubes-first-dark p {
  color: #ffffff;
}

.cubes-first-white {
  -webkit-box-shadow: -50px 70px 120px -42px rgba(0, 0, 0, 0.3);
          box-shadow: -50px 70px 120px -42px rgba(0, 0, 0, 0.3);
  padding: 60px 40px;
}

.cubes-first-red {
  -webkit-box-shadow: -50px 70px 120px -42px rgba(0, 0, 0, 0.3);
          box-shadow: -50px 70px 120px -42px rgba(0, 0, 0, 0.3);
  padding: 60px 40px;
  background-color: #fa2a20;
  color: #ffffff;
}

.cubes-first-red p {
  color: #ffffff;
}

.cubes-first button {
  border-color: #fa2a20;
  color: #000000;
  margin: 40px 0;
}

/* aside cubes */
@media screen and (min-width: 768px) {
  .cubes-first {
    padding: 50px 70px;
  }
  .cubes-first button {
    margin: 40px;
  }
}

/* article-third */
.article-third {
  padding: 50px 25px;
}

.article-third h4 {
  text-align: center;
  text-transform: uppercase;
  font-size: 3em;
  font-weight: 300;
  line-height: 2.5;
}

.article-third h4 span {
  font-weight: 800;
  color: #fa2a20;
}

.article-third button {
  padding: 20px 20px;
  color: #000000;
  margin-bottom: 30px;
}

.article-third--comments-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-third--comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article-third--comment .photo1 {
  background-image: url("../assets/img/tikkho-maciel-158219-unsplash.jpg");
}

.article-third--comment .photo2 {
  background-image: url("../assets/img/jonathan-chen-241561-unsplash.jpg");
}

.article-third--comment-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: 50px 0 25px 0;
  -webkit-box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
}

/* article-third */
@media screen and (min-width: 768px) {
  .article-third {
    padding: 50px 70px;
    text-align: center;
  }
  .article-third button {
    margin-bottom: 100px;
  }
  .article-third--comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
    margin-bottom: 50px;
  }
  .article-third--comment div {
    width: 80%;
  }
  .article-third--comment .article-third--comment-photo {
    width: 18%;
    margin-right: 50px;
    margin-top: -100px;
  }
}

/* article-fourth */
.article-fourth {
  padding-top: 100px;
  background-image: radial-gradient(circle at center, rgba(42, 46, 64, 0) 0%, #2a2e40 70%), url(https://www.elegantthemes.com/layouts/wp-content/uploads/2018/10/gym_35.jpg);
  color: #ffffff;
}

.article-fourth h3 {
  padding: 0 40px;
  font-size: .9em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.article-fourth h2 {
  padding: 0 40px;
  font-size: 3.5em;
  font-weight: 300;
  letter-spacing: 10px;
  text-transform: uppercase;
}

.article-fourth--wrapper {
  margin-top: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-fourth--wrapper .article-fourth--form {
  padding: 0 40px;
}

.article-fourth--wrapper .article-fourth--form input[type=text], .article-fourth--wrapper .article-fourth--form [type=email], .article-fourth--wrapper .article-fourth--form textarea {
  width: 100%;
  color: #ffffff;
  background-color: transparent;
  border: 0;
  padding: 20px;
  font-family: "Oswald", sans-serif;
  letter-spacing: 3px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

.article-fourth--wrapper .article-fourth--form input::-webkit-input-placeholder {
  color: #ffffff;
}

.article-fourth--wrapper .article-fourth--form input:-ms-input-placeholder {
  color: #ffffff;
}

.article-fourth--wrapper .article-fourth--form input::-ms-input-placeholder {
  color: #ffffff;
}

.article-fourth--wrapper .article-fourth--form input::placeholder {
  color: #ffffff;
}

.article-fourth--wrapper .article-fourth--form textarea {
  height: 150px;
}

.article-fourth--wrapper .article-fourth--form button {
  margin: 40px 0 80px;
  -webkit-transform: translateX(80%);
          transform: translateX(80%);
}

.article-fourth--wrapper h4 {
  text-transform: uppercase;
  margin-bottom: 25px;
}

.article-fourth--wrapper .article-fourth--red {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  padding: 60px 40px;
  background-color: #fa2a20;
}

.article-fourth--wrapper .article-fourth--red-up {
  padding: 40px 30px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0px 26px 110px -30px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 26px 110px -30px rgba(0, 0, 0, 0.8);
}

.article-fourth--wrapper .article-fourth--red-up ol {
  font-size: 1.4em;
  line-height: 2.5;
}

.article-fourth--wrapper .article-fourth--red-down {
  padding: 40px 30px;
  color: #000000;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 26px 110px -30px rgba(0, 0, 0, 0.8);
          box-shadow: 0px 26px 110px -30px rgba(0, 0, 0, 0.8);
}

.article-fourth--wrapper .article-fourth--red-down button {
  border-color: #fa2a20;
  color: #000000;
  padding: 30px 20px;
}

/* article-fourth 768 */
@media screen and (min-width: 768px) {
  .article-fourth--wrapper .article-fourth--red {
    width: 80%;
    margin: 0 auto;
  }
}

/* footer */
footer {
  background-color: black;
  color: #666;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
}

footer p {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  color: #666;
  font-size: 1.2em;
}

footer .footer--socials {
  font-size: 2em;
}

footer .footer--socials a {
  color: #666666;
}

footer .footer--socials i {
  margin: 10px;
}
/*# sourceMappingURL=style.css.map */